@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-merriweather: 'Merriweather', serif;
    --font-fredoka: 'Fredoka', cursive;
    --font-montserrat: 'Montserrat', sans-serif;
    --color-primary: #fff3ec;
    --color-custom-yellow: #f6b75c;
    --bg-white: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

@theme {
   --color-custom-white:  linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

body {
    font-family: var(--font-sans), serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: var(--color-primary);
}

::-webkit-scrollbar {
    display: none;
}

/* and pag hulog sang container */
/* @keyframes dropDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */
  
  /* mag baba na daw ga amat amat kita */
  @keyframes slideLink {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  #navModal.show {
    animation: dropDown 0.4s ease forwards;
  }
  
  #navModal .nav-link.show {
    animation: slideLink 0.5s ease forwards;
  }   
  
  
  